﻿@model Suggestions

@{
}


<h4>Куда едем?</h4>
<form method="post" asp-controller="Client" asp-action="Idea">
    <div class="form-floating">
        <input class="form-control" required aria-required="true" type="text" asp-for="departureCity" id="departure" name="departure" aria-required="true" data-val-required="Это поле обязательно.">
        <label class="form-label" asp-for="departureCity">Откуда</label>
        <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
    </div>


    <div class="form-floating">
        <input class="form-control" required aria-required="true" type="text" asp-for="arrivalCity" id="arrival" name="arrival" aria-required="true" data-val-required="Это поле обязательно.">
        <label class="form-label" asp-for="arrivalCity">Куда</label>
        <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
    </div>


    <input id="submit" type="submit" value="Далее" class="w-100 btn btn-lg btn-primary">
</form>