﻿@model Suggestions
@{
    ViewData["Title"] = "Новая поездка";
}

<h2>Новая поездка</h2>

<form method="post" asp-controller="Client" asp-action="createSuggestion">
    @if (User.Identity.IsAuthenticated)
    {
        <br />
        <div class="form-floating">
            <select class="form-control" asp-for="option" id="option" name="option">
                <option value="all" class="form-control" asp-for="driver" id="ifdriver" name="ifdriver">Водитель</option>
                <option value="there" class="form-control" asp-for="passanger" id="ifpassanger" name="ifpassanger">Пассажир</option>
            </select>
            <label class="form-label" asp-for="option">Кто Вы?</label>
            <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
        </div>

        <br />

        <div class="form-floating">
            <input class="form-control" required aria-required="true" type="text" asp-for="departureCity" id="departure" name="departure" aria-required="true" data-val-required="Это поле обязательно.">
            <label class="form-label" asp-for="departureCity">Откуда</label>
            <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
        </div>

        <div class="form-floating">
            <input class="form-control" required aria-required="true" type="text" asp-for="arrivalCity" id="arrival" name="arrival" aria-required="true" data-val-required="Это поле обязательно.">
            <label class="form-label" asp-for="arrivalCity">Куда</label>
            <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
        </div>
    
        <br />

        <div class="form-floating">
            <input class="form-control" required aria-required="true" type="date" asp-for="ArrivalDestinationDate" id="ddate" name="ddate" aria-required="true" data-val-required="Это поле обязательно.">
            <label class="form-label" asp-for="departureCity">Отправление туда</label>
            <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
        </div>

        <div class="form-floating">
            <input class="form-control" required aria-required="true" type="date" asp-for="ArrivalDepartureDate" id="edate" name="edate" aria-required="true" data-val-required="Это поле обязательно.">
            <label class="form-label" asp-for="arrivalCity">Отправление обратно</label>
            <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
        </div>

        <div class="form-floating">
            <input class="form-control" required aria-required="true" type="number" asp-for="CountOfCompanions" id="count" name="count" aria-required="true" data-val-required="Это поле обязательно.">
            <label class="form-label" asp-for="CountOfCompanions">Количество свободных мест/людей:</label>
            <span class="text-danger field-validation-valid" data-valmsg-for="CountOfCompanions" data-valmsg-replace="true"></span>
        </div>
    
        <br />

        <div class="form-floating">
            <input class="form-control" required aria-required="true" type="number" asp-for="TravelCost" id="cost" name="cost" aria-required="true" data-val-required="Это поле обязательно.">
            <label class="form-label" asp-for="TravelCost">Предлагаемая цена:</label>
            <span class="text-danger field-validation-valid" data-valmsg-for="cost" data-valmsg-replace="true"></span>
        </div>

        <br />

        <div class="form-floating">
            <input class="form-control" aria-required="true" type="text" asp-for="Automobile" id="auto" name="auto" aria-required="true" data-val-required="Это поле обязательно.">
            <label class="form-label" asp-for="Automobile">Автомобиль:</label>
            <span class="text-danger field-validation-valid" data-valmsg-for="cost" data-valmsg-replace="true"></span>
            Заполняется только автомобилистами
        </div>

        <br />

        <div class="form-floating">
            Курите / не против, если будут курить
            <input type="checkbox" asp-for="smoking" id="smoking" name="smoking">
        </div>
        <div class="form-floating">
            С питомцом / не против питомцев
            <input type="checkbox" asp-for="pet" id="pet" name="pet">
        </div>
        <div class="form-floating">
            Не против пообщаться
            <input type="checkbox" asp-for="dialogue" id="dialogue" name="dialogue">
            <span class="text-danger field-validation-valid" data-valmsg-for="dialogue" data-valmsg-replace="true"></span>
        </div>
    
        <br />

        <input id="submit" type="submit" value="Новая поездка" class="w-100 btn btn-lg btn-primary">
    }
    else
    {
        <div id="error_login">
            <br />
            <h1>❌</h1>
            <h3>Для подачи новых заявок нужно войти.</h3>

            <a class='btn btn-primary btn-sm' href='/Identity/Account/Register'>Зарегистрироваться</a>
            <a class='btn btn-primary btn-sm' href='/Identity/Account/Login'>Войти</a>
        </div>
    }
</form>