﻿@{
    ViewData["Title"] = "Удаление";
}

<div id="r1">
    <br />
    <h1>✅</h1>
    <h3>Поездка удалена</h3>
    <p>Поездка и все отклики на неё были удалены безвозвратно.</p>

    <a class='btn btn-primary btn-sm' href='/List'>Все поездки</a>
    <a class='btn btn-primary btn-sm' href='/Home/Index'>На главную страницу</a>
</div>