﻿@{
    ViewData["Title"] = "Успех";
}

<div id="r1">
    <br />
    <h1>✅</h1>
    <h3>Поездка успешно добавлена</h3>
    <p>Поздравляем с новой поездкой! Скоро Вам начнут приходить отклики, поэтому не забывайте регулярно проверять уведомления :)</p>

    <a class='btn btn-primary btn-sm' href='/Client/trips'>Мои поездки</a>
    <a class='btn btn-primary btn-sm' href='/Home/Index'>На главную страницу</a>
</div>