﻿@model edit
@{}

<h2>Редактирование заявки №@ViewBag.Id</h2>

<form method="post" asp-controller="Client" asp-action="submitchanges">

    <input name="id" value=@ViewBag.Id type="hidden"/>


    <div class="form-floating">
        <input class="form-control" required aria-required="true" type="text" asp-for="departure" id="departure" name="departure" value=@ViewBag.l.departureCity aria-required="true" data-val-required="Это поле обязательно.">
        <label class="form-label" asp-for="departure">Откуда</label>
        <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
    </div>

    <div class="form-floating">
        <input class="form-control" required aria-required="true" type="text" asp-for="arrival" id="arrival" name="arrival" value=@ViewBag.l.arrivalCity aria-required="true" data-val-required="Это поле обязательно.">
        <label class="form-label" asp-for="arrival">Куда</label>
        <span class="text-danger field-validation-valid" data-valmsg-for="arrival" data-valmsg-replace="true"></span>
    </div>

    <div class="form-floating">
        <input class="form-control" required aria-required="true" type="datetime-local" asp-for="Cty1" id="Cty1" name="Cty1" value=@ViewBag.l.ArrivalDestinationDate>
        <label class="form-label" asp-for="Cty1">Отправление туда</label>
    </div>

    <div class="form-floating">
        <input class="form-control" aria-required="true" type="datetime-local" asp-for="Cty2" id="Cty2" name="Cty2" value=@ViewBag.l.ArrivalDepartureDate>
        <label class="form-label" asp-for="Cty2">Отправление обратно</label>
    </div>

    @if (!ViewBag.IfTourist)
    {
        <div class="form-floating">
            <input class="form-control" required aria-required="true" type="text" asp-for="cms" id="cms" name="cms" value=@ViewBag.l.CountOfCompanions aria-required="true" data-val-required="Это поле обязательно.">
            <label class="form-label" asp-for="cms">Количество мест</label>
            <span class="text-danger field-validation-valid" data-valmsg-for="cms" data-valmsg-replace="true"></span>
        </div>
    }

    @if (!ViewBag.IfTourist)
    {
        <div class="form-floating" >
            <input class="form-control" required aria-required="true" type="text" asp-for="auto" id="auto" name="auto" value=@ViewBag.l.Automobile>
            <label class="form-label" asp-for="auto">Автомобиль</label>
        </div>
    }

    <div class="form-floating">
        <input class="form-control" required aria-required="true" type="text" asp-for="cost" id="cost" name="cost" value=@ViewBag.l.TravelCost>
        <label class="form-label" asp-for="cost">Цена</label>
    </div>
    <br />
    <input id="submit" type="submit" value="Сохранить изменения" class="btn btn-primary btn-sm">
    @{
        string DelStr = "/Client/Delete?id=" + @ViewBag.Id + "&pruser=" + ViewBag.UserId;
    }
    <a class='btn btn-danger btn-sm' href=@DelStr>Удалить (БЕЗВОЗВРАТНО)</a>
</form>


