﻿@{
    ViewData["Title"] = "Ошибка";
}

<div id="err">
    <br />
    <h2>⚠</h2>
    <h3>Форма заполнена неверно</h3>
    <p>Вы указали слишком много попутчиков: столько мест не найдётся ☹</p>
</div>