﻿@model Suggestions

@{
}

<h2>Поиск попутчиков</h2>

<h4>Кто Вы?</h4>
<a class='btn btn-primary btn-sm' href='/Client/Adress/false'>🚗 Водитель</a>
<a class='btn btn-primary btn-sm' href='/Client/Adress/true'>🙋 Пассажир</a>



@*
else if (ViewBag.State == 2)
{
    <h4>Когда?</h4>
    <form method="post" asp-controller="Client" asp-action="submitchanges">
        <div class="form-floating">
            <input class="form-control" aria-required="true" type="datetime" asp-for="ArrivalDestinationDate" id="Cty1" name="Cty1" value=@ViewBag.l[ViewBag.Id-1].ArrivalDestinationDate>
            <label class="form-label" asp-for="ArrivalDestinationDate">Отправление туда</label>
        </div>

        <div class="form-floating">
            <input class="form-control" aria-required="true" type="datetime" asp-for="ArrivalDepartureDate" id="Cty2" name="Cty2" value=@ViewBag.l[ViewBag.Id-1].ArrivalDepartureDate>
            <label class="form-label" asp-for="ArrivalDepartureDate">Отправление обратно</label>
        </div>


        <input id="submit" type="submit" value="Искать" class="w-100 btn btn-lg btn-primary">
    </form>
}
*@

