﻿
@{
    string[] TableHeaders = new string[] {
                        ""
                        ,"Кто"
                        ,"Откуда"
                        ,"Куда"
                        ,"Туда"
                        ,"Обратно"
                        ,"Мест"
                        ,"Забронировано"
                        ,"Автомобиль"
                        ,"Предлагаемая цена"
            };
}

<div class="text-center">
    <h4>Смотрите, что нашлось:</h4>
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders)
                        {
                                        <th>
                                            @head
                                        </th>
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {
                                <tr>
                                            <td>@Data.UserPublished</td>
                                            @if (Data.Traveller == "Путешественник")
                                {
                                                <td>🚙</td>
                                }
                                else
                                {
                                                <td>🙍‍</td>
                                }
                                            <td>@Data.departureCity</td>
                                            <td>@Data.arrivalCity</td>
                                            @if (Data.ArrivalDepartureDate == null && Data.ArrivalDestinationDate != null)
                                {
                                                <td>@Data.ArrivalDestinationDate</td>
                                                <td>В одну сторону</td>
                                }
                                else if (Data.ArrivalDepartureDate != null && Data.ArrivalDestinationDate == null)
                                {
                                                <td>В одну сторону</td>
                                                <td>@Data.ArrivalDepartureDate</td>
                                }
                                else if (Data.ArrivalDepartureDate == null && Data.ArrivalDestinationDate == null)
                                {
                                                <td colspan="2" style="text-align:center;">Без уточнённой даты</td>
                                }
                                else
                                {
                                                <td>@Data.ArrivalDestinationDate</td>
                                                <td>@Data.ArrivalDepartureDate</td>
                                }
                                            <td style="text-align:center;">@Data.CountOfCompanions</td>

                                            @if (Data.Traveller == "Путешественник")
                                {
                                                <td style="text-align:center;">@Data.AlreadySentApplication</td>
                                }
                                else
                                {
                                                <td style="text-align:center;">-</td>
                                }

                                            @if (Data.Automobile == null)
                                {
                                                <td style="text-align:center;">-</td>
                                }
                                else
                                {
                                                <td style="text-align:center;">@Data.Automobile</td>
                                }
                                            @if (Data.TravelCost == 0)
                                {
                                                <td>Без цены</td>
                                }
                                else
                                {
                                                <td>@Data.TravelCost ₽</td>
                                }

                                            @if (Data.UserPublished != null)
                                {
                                    string str = "/Client/Respond/" + Data.id;
                                                <td><a class='btn btn-primary btn-sm' href=@str>Откликнуться</a></td>
                                }
                                </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <br />
    <br />

    <form method="post" asp-controller="Client" asp-action="AllResults">
        <textarea rows="1" cols="30" name="arrival" style="visibility:hidden;">@ViewData["Arrival"]</textarea>
        <h5>Ничего нету?</h5>
        <input id="submit" type="submit" value="Искать в остальных городах" class="w-100 btn btn-lg btn-primary">
    </form>
</div>