﻿@{
    ViewData["Title"] = "Успех";
}

<div id="r1">
    <br />
    <h1>✅</h1>
    <h3>Новая поездка добавлена</h3>
    <p>Скоро попутчики смогут отправлять свои отклики на Вашу поездку. Не забудьте их регулярно проверять :)</p>

    <a class='btn btn-primary btn-sm' href='/Responses'>Мои поездки</a>
    <a class='btn btn-primary btn-sm' href='/Home/Index'>На главную страницу</a>
</div>