﻿@{
    ViewData["Title"] = "Отклик";
    int free = ViewBag.l.CountOfCompanions - ViewBag.l.AlreadySentApplication;
}


<h2>Отклик на заявку №@ViewBag.Id</h2>

<h4>Подаём заявку на предложение:</h4>
<p>Имя: @ViewBag.l.UserPublished</p>
@if (ViewBag.l.ArrivalDepartureDate == null && ViewBag.l.ArrivalDestinationDate != null)
{
    <p>Откуда: @ViewBag.l.arrivalCity - @ViewBag.l.ArrivalDepartureDate </p>
    <p>Куда: @ViewBag.l.departureCity</p>
    <p>Обратно: Свободная дата</p>

}
else if (ViewBag.l.ArrivalDepartureDate != null && ViewBag.l.ArrivalDestinationDate == null)
{
    <p>Откуда: @ViewBag.l.departureCity - @ViewBag.l.ArrivalDepartureDate</p>
    <p>Куда: @ViewBag.l.arrivalCity </p>
    <p>Обратно: Свободная дата</p>
}
else if (ViewBag.l.ArrivalDepartureDate == null && ViewBag.l.ArrivalDestinationDate == null)
{
    <p>Откуда: @ViewBag.l.departureCity - Свободная дата</p>
    <p>Куда: @ViewBag.l.arrivalCity </p>
    <p>Обратно: Свободная дата</p>
}
else
{
    <p>Откуда: @ViewBag.l.departureCity - @ViewBag.l.ArrivalDestinationDate</p>
    <p>Куда: @ViewBag.l.arrivalCity </p>
    <p>Обратно: @ViewBag.l.ArrivalDepartureDate</p>
}
<p>Свободно мест: @free</p>
@if (@ViewBag.l.smoking) { <p>🚬 Курю или не против курения</p> }
else {<p>🚭 Не люблю, когда попутчики курят </p>}

@if (@ViewBag.l.pet) { <p>🐾 Рад питомцам</p> }
else {<p>❌ Животные - не моё </p>}

@if (@ViewBag.l.pet) { <p>💬 Готов общаться во время поездки</p> }
else {<p>🤫 Люблю ехать в тишине </p>}

@{
    if (User.Identity.IsAuthenticated)
    {
        if (free != 0)
        {
            <h2>Можем подать заявку от имени @ViewBag.UserID:</h2>
            string adress1 = $"/Chat/im?user={ViewBag.User}";
            string adress2 = $"/Client/Send?id={ViewBag.Id}&free={free}";
            <a class='btn btn-primary btn-sm' href=@adress1>Написать попутчику</a>
            <a class='btn btn-primary btn-sm' href=@adress2>Отправить отклик</a>
        }

        else
        {
            <h2>Ой...</h2>
            <p>Кажется, свободных мест не осталось :(</p>
        }
    }
    else
    {
        <h2>Перед отправкой отклика нужно войти.</h2>
        <a class='btn btn-primary btn-sm' href='/Identity/Account/Register'>Зарегистрироваться</a>
        <a class='btn btn-primary btn-sm' href='/Identity/Account/Login'>Войти</a>
    }
}
