﻿@model Response
@{
    ViewData["Title"] = "Отклик";
}

<h2>Отклик на заявку №@ViewBag.Id</h2>

<form method="post" asp-controller="Client" asp-action="SendRequest">

    <input name="id" value=@ViewBag.Id type="hidden" />
    <input name="free" value=@ViewBag.Free type="hidden" />

    <div class="form-floating">
        <input class="form-control" required aria-required="true" type="number" asp-for="Count" id="count" name="count" aria-required="true" data-val-required="Это поле обязательно.">
        <label class="form-label" asp-for="Count">Количество человек:</label>
        <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
    </div>

    <div class="form-floating">
        <select class="form-control" asp-for="option" id="option" name="option">
            <option value="all" class="form-control" asp-for="all" id="all" name="all">Туда и обратно</option>
            <option value="there" class="form-control" asp-for="there" id="there" name="there">Только туда</option>
            <option value="back" asp-for="back" id="back" name="back">Только обратно</option>
        </select>
        <label class="form-label" asp-for="option">Выберите:</label>
        <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
    </div>

    <div class="form-floating">
        <input class="form-control" required aria-required="true" type="number" asp-for="sugMoney" id="money" name="money" aria-required="true" data-val-required="Это поле обязательно.">
        <label class="form-label" asp-for="sugMoney">Предлагаемая цена поездки:</label>
        <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
    </div>

    <div class="form-floating">
        <input class="form-control" required aria-required="true" type="text" asp-for="Message" id="message" name="message">
        <label class="form-label" asp-for="Message">Дополнительное сообщение:</label>
        <span class="text-danger field-validation-valid" data-valmsg-for="departure" data-valmsg-replace="true"></span>
    </div>

    <br />
    <input id="submit" type="submit" value="Отправить заявку" class="w-100 btn btn-lg btn-primary">

</form>