﻿@{
    ViewData["Title"] = "Успех";
}

<div id="r1">
    <br />
    <h1>✅</h1>
    <h3>Отклик успешно отправлен</h3>
    <p>В ближайшее время попутчик ответит на Ваш отклик. Также Вы можете связаться с попутчиком для обсуждения некоторых деталей поездки.</p>

    @{
        string adress = $"/Chat/im?user={ViewBag.l}";
        <a class='btn btn-primary btn-sm' href=@adress>Связаться с попутчиком</a>
        <a class='btn btn-primary btn-sm' href='/Responses'>Мои отклики</a>
        <a class='btn btn-primary btn-sm' href='/Home/Index'>На главную страницу</a>
    }
</div>