﻿@{
    ViewData["Title"] = "Успех";
}

<div id="r1">
    <br />
    <h1>✅</h1>
    <h3>Поездка создана</h3>
    <p>Ваша поездка уже опубликована, и скоро на неё будут приходить отклики :)</p>

    @{
        <a class='btn btn-primary btn-sm' href='/List'>Список поездок</a>
        <a class='btn btn-primary btn-sm' href='/Client/Trips'>Мои поездки</a>
        <a class='btn btn-primary btn-sm' href='/Home/Index'>На главную страницу</a>
    }
</div>