﻿@{
    ViewData["Title"] = "Поездки";
    string[] TableHeaders = new string[] {
                        ""
                        ,"Кто"
                        ,"Откуда"
                        ,"Куда"
                        ,"Туда"
                        ,"Обратно"
                        ,"Мест"
                        ,"Забронировано"
                        ,"Автомобиль"
                        ,"Предлагаемая цена",
                        ""
            };
}

@if (User.Identity.IsAuthenticated)
{
    <br />
    <table>
        <tr>
            @if (ViewBag.N)
            {
                <th style="background-color:beige;border-radius:5px;">
                    <div class="colr" style="margin:10px;">
                        <h5 style="text-align:center;">🔔</h5>
                    </div>
                </th>
            }
            @if (ViewBag.M)
            {
                <th style="background-color:lightskyblue;border-radius:5px;">
                    <div class="mesl" style="margin:10px;">
                        <h5 style="text-align:center;">💬</h5>
                    </div>
                </th>
            }
        </tr>
    </table>
    <br />
    <br />
}


@if (User.Identity.IsAuthenticated)
{
    <a class='btn btn-primary btn-sm' href='/Client/Create'>Новая поездка</a>
    <a class='btn btn-primary btn-sm' href='/List'>Все поездки</a>
    <a class='btn btn-primary btn-sm' href='/Responses/my'>Смотреть отклики на поездки</a>

    
    <br />

    <script>
        setTimeout(function(){
            if (window.innerWidth < 1100)
            {
                document.getElementById("table").style.display = "none";
                document.getElementById("small").style.display = "block";
            }
            else
            {
                document.getElementById("table").style.display = "block";
                document.getElementById("small").style.display = "none";
            }
        }, 100);

        function TryResolution()
        {
            setTimeout(function(){
            if (window.innerWidth < 1020)
            {
                document.getElementById("table").style.display = "none";
                document.getElementById("small").style.display = "block";
            }
            else
            {
                document.getElementById("table").style.display = "block";
                document.getElementById("small").style.display = "none";
            }
        }, 100);
        }
    </script>


    <div class="table">
        <div id="small" style="display:none;">
            <br />
            <h2>😞</h2>
            <h3>Не удалось показать список предложений</h3>
            <p>Пожалуйста, разверните окно браузера на полный экран или попробуйте с другого устройства.</p>
            <button onclick="TryResolution()" class='btn btn-primary btn-sm'>Попробовать ещё раз</button>
        </div>

        

        <table class="table" id="table">
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {
                            <tr>
                                <td>@Data.UserPublished</td>
                                @if (Data.Traveller == "Путешественник")
                                {
                                    <td>🚙</td>
                                }
                                else
                                {
                                    <td>🙍‍</td>
                                }
                                <td>@Data.departureCity</td>
                                <td>@Data.arrivalCity</td>
                                @if (Data.ArrivalDepartureDate == null && Data.ArrivalDestinationDate != null)
                                {
                                    <td>@Data.ArrivalDestinationDate</td>
                                    <td>В одну сторону</td>
                                }
                                else if (Data.ArrivalDepartureDate != null && Data.ArrivalDestinationDate == null)
                                {
                                    <td>В одну сторону</td>
                                    <td>@Data.ArrivalDepartureDate</td>
                                }
                                else if (Data.ArrivalDepartureDate == null && Data.ArrivalDestinationDate == null)
                                {
                                    <td colspan="2" style="text-align:center;">Без уточнённой даты</td>
                                }
                                else
                                {
                                    <td>@Data.ArrivalDestinationDate</td>
                                    <td>@Data.ArrivalDepartureDate</td>
                                }
                                <td style="text-align:center;">@Data.CountOfCompanions</td>

                                @if (Data.Traveller == "Путешественник")
                                {
                                    <td style="text-align:center;">@Data.AlreadySentApplication</td>
                                }
                                else
                                {
                                    <td style="text-align:center;">-</td>
                                }

                                @if (Data.Automobile == null)
                                {
                                    <td style="text-align:center;">-</td>
                                }
                                else
                                {
                                    <td style="text-align:center;">@Data.Automobile</td>
                                }
                                @if (Data.TravelCost == 0)
                                {
                                    <td>Без цены</td>
                                }
                                else
                                {
                                    <td>@Data.TravelCost ₽</td>
                                }



                                @if (Data.UserPublished == User.Identity.Name)
                                {
                                    string str = "/Client/Edit?id=" + Data.id + "&ift=";
                                    if (Data.Traveller == "Попутчик") str += 1;
                                    else str += 0;
                                    str += "&uid=" + Data.UserPublished;
                                    <td><a class='btn btn-danger btn-sm' href=@str>Редактировать</a></td>
                                }
                                else
                                {
                                    string str = "/Client/Respond/" + Data.id;
                                    <td><a class='btn btn-primary btn-sm' href=@str>Откликнуться</a></td>
                                }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div id="error_login">
        <br />
        <h1>❌</h1>
        <h3>Для просмотра списка своих поездок нужно войти.</h3>

        <a class='btn btn-primary btn-sm' href='/Identity/Account/Register'>Зарегистрироваться</a>
        <a class='btn btn-primary btn-sm' href='/Identity/Account/Login'>Войти</a>
    </div>
}
