﻿@{
    ViewData["Title"] = "Главная";
}

@if (User.Identity.IsAuthenticated)
{
    <br />
    <table>
        <tr> 
            @if (ViewBag.N)
            {
                <th style="background-color:beige;border-radius:5px;">
                    <div class="colr" style="margin:10px;">
                        <h5 style="text-align:center;">🔔</h5>
                    </div>
                </th> 
            }
            @if (ViewBag.M)
            {
                <th style="background-color:lightskyblue;border-radius:5px;">
                    <div class="mesl" style="margin:10px;">
                        <h5 style="text-align:center;">💬</h5>
                    </div>
                </th> 
            }
        </tr>
    </table>
}


<h1 class="display-1">🚗</h1>
<h1 class="display-4">Компаньон</h1>
<h2 class="display-8">Попутчики куда угодно, на чем удобно</h2>

<div class="text-center">

    <br />
    <img alt="main" src="https://avtomanual.com/uploads/posts/2020-12/1607695111_avto11.jpg" runat="server" style="height:auto; width:100%;border-radius: 10px;" />
    <br />
    <br />
    <br />

    <h3>Почему попутчики - удобнее и выгоднее?</h3>
    <br />
    <table>
        <thead>
            <tr>
                <th><h4>Для водителя</h4></th>
                <th><h4>Для туриста</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <h5>
                        Комфортнее автобуса
                    </h5>
                    <p>
                        В любое время из любой точки вы выбираете комфортный автомобиль и приятную компанию
                    </p>
                </th>

                <th>
                    <h5>
                        Дешевле поезда
                    </h5>
                    <p>
                        Куда бы вы ни собирались, вы сможете найти свою идеальную поездку и доехать по самой низкой цене
                    </p>
                </th>
            </tr>
            <tr>
                <th>
                    <h5>
                        Вместе веселее
                    </h5>
                    <p>
                        Совместные поездки — это отличный способ скоротать время в дороге в приятной компании.
                    </p>
                </th>
                <th>
                    <h5>
                        Комфортнее автобуса
                    </h5>
                    <p>
                        В любое время из любой точки вы выбираете комфортный автомобиль и приятную компанию
                    </p>
                </th>

            </tr>
        </tbody>
    </table>

    <br /><br /><br />

    <h2>Найдите поездку прямо сейчас:</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <a class='btn btn-primary btn-sm' href='/Client/Create'>Новая поездка</a>
        <a class='btn btn-primary btn-sm' href='/Client/Find'>Искать поездки</a>
    }
    else
    {
        <a class='btn btn-primary btn-sm' href='/Identity/Account/Register'>Зарегистрироваться</a>
        <a class='btn btn-primary btn-sm' href='/Identity/Account/Login'>Войти</a>
    }
</div>
