﻿@{
    ViewData["Title"] = "Уведомления";
}

<h1>Список уведомлений</h1>

@if (User.Identity.IsAuthenticated)
{
    <div class="table">
        <table class="table" id="table">
            
            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {
                            <tr>
                            @if (Data[1] == '*')
                                {
                                    <td style="color:red;font-weight:bold;">@Data</td>
                                }
                            else   { <td>@Data</td> }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div id="small" style="display:none;">
        <br />
        <h1>😞</h1>
        <h3>Для просмотра уведомлений нужно войти в аккаунт.</h3>
        <p>Ну а как иначе?</p>
    </div>
}