﻿
@{
    ViewData["Title"] = "Чаты";
}

<h2>Чат с @ViewBag.User</h2>
<a class='btn btn-primary btn-sm' href='/Chat'>Вернуться к чатам</a>
@{
    string str = "/Chat/im?user=" + ViewBag.User;
    <a class='btn btn-primary btn-sm' href=@str>Обновить</a>
}

<br />
<br />

<form method="post" asp-controller="Chat" asp-action="SendMessage">
    <input name="User1" value=@User.Identity.Name type="hidden"/>
    <input name="User2" value=@ViewBag.User type="hidden"/>
    <input name="Viewed" value='0' type="hidden"/>
    <p>Ваше сообщение: </p><textarea name="Message" cols="80" required></textarea>
    <br />
    <input id="submit" type="submit" value="Отправить" class="btn btn-primary btn-sm">
</form>

<br />

<table class="table" id="table">
    <thead>
    </thead>

    <tbody>
        @{
            @if (Model != null)
            {
                foreach (var Data in Model)
                {
                    <tr>
                        @if (Data.User1 == User.Identity.Name) {<td>Вы</td>}
                        else {<td>@Data.User1</td>}
                        <td>@Data.DateTime</td>
                        <td>@Data.Message</td>
                        @if (Data.User1 == User.Identity.Name)
                        {
                            @if (Data.Viewed)
                            {<td>✅</td>}
                            else{<td>✉️</td>}
                        }
                        else {<td></td>}
                    </tr>
                }
            }
        }
    </tbody>
</table>