﻿@{
    ViewData["Title"] = "Сообщения";
}

@if (User.Identity.IsAuthenticated)
{
    <br />
    <table>
        <tr>
            @if (ViewBag.N)
            {
                <th style="background-color:beige;border-radius:5px;">
                    <div class="colr" style="margin:10px;">
                        <h5 style="text-align:center;">🔔</h5>
                    </div>
                </th>
            }
            @if (ViewBag.M)
            {
                <th style="background-color:lightskyblue;border-radius:5px;">
                    <div class="mesl" style="margin:10px;">
                        <h5 style="text-align:center;">💬</h5>
                    </div>
                </th>
            }
        </tr>
    </table>
    <br />
    <br />
}

<h2>Сообщения</h2>

@{
    if (User.Identity.IsAuthenticated)
    {
        <h5>Выберите контакт, которому хотите написать:</h5>
        <a class='btn btn-warning btn-sm' href='/Chat/New'>Новый контакт</a>
        if (Model != null)
        {
            foreach (var Data in Model)
            {
                string link = "/Chat/im?user=" + Data;
                <a class='btn btn-primary btn-sm' href=@link>@Data</a>
            }

            foreach (var Data in ViewBag.u )
            {
                string link = "/Chat/im?user=" + Data;
                <a class='btn btn-danger btn-sm' href=@link>@Data</a>
            }
        }
    }
    else
    {
        <h3>❌</h3>
        <h5>Писать сообщения могут только авторизованные пользователи.</h5>

    }
}