﻿@{
    ViewData["Title"] = "Новое сообщение";
}

<form>
    <div class="form-floating">
        <input class="form-control" aria-required="true" type="text" id="username" name="username" aria-required="true" data-val-required="Это поле обязательно.">
        <label class="form-label">Введите имя пользователя</label>
    </div>

    <a onclick="Go()" class="btn btn-primary btn-sm">Отправить сообщение</a>
</form>

<script>
    function Go()
    {
        console.log("Redirect...");
        let user = document.getElementById("username").value;
        location.replace("/Chat/im?user=" + user);
    }
</script>