﻿@{
    ViewData["Title"] = "Мои отклики";
    string[] TableHeaders = new string[] {
                        "№"
                        ,"Куда"
                        ,"Откуда"
                        ,"Туда"
                        ,"Обратно"
                        ,"Кол-во мест"
                        ,"Предложено"
                        ,"Сообщение"
                        ,"Ответ"
    };
}


@if (User.Identity.IsAuthenticated)
{
    <br />
    <table>
        <tr>
            @if (ViewBag.N)
            {
                <th style="background-color:beige;border-radius:5px;">
                    <div class="colr" style="margin:10px;">
                        <h5 style="text-align:center;">🔔</h5>
                    </div>
                </th>
            }
            @if (ViewBag.M)
            {
                <th style="background-color:lightskyblue;border-radius:5px;">
                    <div class="mesl" style="margin:10px;">
                        <h5 style="text-align:center;">💬</h5>
                    </div>
                </th>
            }
        </tr>
    </table>

    <br />
    <br/>
}

<h1>Ваши отклики</h1>

@if (User.Identity.IsAuthenticated)
{

    <div class="table">
        <table class="table" id="table">
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {
                            <tr>
                                <td>@Data.idResponse</td>

                                @{
                                    if (Data.ThereBack)
                                    {
                                        <td>@Data.Departure</td>
                                        <td>@Data.Destination</td>
                                        <td>@Data.DepartureDate</td>
                                        <td>@Data.DestinationDate</td>
                                    }

                                    else if (Data.OnlyThere)
                                    {
                                        <td>@Data.Departure</td>
                                        <td>@Data.Destination</td>
                                        <td>@Data.DepartureDate</td>
                                        <td>Только туда</td>
                                    }

                                    
                                    else if (Data.OnlyBack)
                                    {
                                        <td>@Data.Departure</td>
                                        <td>@Data.Destination</td>
                                        <td>Только обратно</td>
                                        <td>@Data.DestinationDate</td>
                                    }
                                }

                                
                                <td>@Data.Count</td>
                                <td>@Data.sugMoney</td>
                                <td>@Data.Message</td>
                                @{
                                    if (Data.Viewed == false)
                                    {
                                        <td>Пока без ответа</td>
                                    }
                                    else
                                    {
                                        if (Data.Verdict)
                                        {
                                            <td style = "color:green;">Поездка одобрена</td>
                                        }
                                        else
                                        {
                                            <td style = "color:red;">Поездка отклонена</td>
                                        }
                                    }
                                }

                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
}

else
{
    <div id="error_login">
        <br />
        <h1>❌</h1>
        <h3>Для просмотра своих откликов нужно войти.</h3>

        <a class='btn btn-primary btn-sm' href='/Identity/Account/Register'>Зарегистрироваться</a>
        <a class='btn btn-primary btn-sm' href='/Identity/Account/Login'>Войти</a>
    </div>
}
