﻿@{
    ViewData["Title"] = "Мои отклики";
    string[] TableHeaders = new string[] {
                        "№"
                        ,"Поездка"
                        ,"Кто"
                        ,"Туда"
                        ,"Обратно"
                        ,"Кол-во мест"
                        ,"Предложено"
                        ,"Сообщение"
                        ,"Ответ"
    };
}


@if (User.Identity.IsAuthenticated)
{
    <br />
    <table>
        <tr>
            @if (ViewBag.N)
            {
                <th style="background-color:beige;border-radius:5px;">
                    <div class="colr" style="margin:10px;">
                        <h5 style="text-align:center;">🔔</h5>
                    </div>
                </th>
            }
            @if (ViewBag.M)
            {
                <th style="background-color:lightskyblue;border-radius:5px;">
                    <div class="mesl" style="margin:10px;">
                        <h5 style="text-align:center;">💬</h5>
                    </div>
                </th>
            }
        </tr>
    </table>
    <br />
    <br />
}

<h1>Отклики на поездки</h1>

@if (User.Identity.IsAuthenticated)
{

    <div class="table">
        <table class="table" id="table">
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {
                            <tr>
                                <td>@Data.idResponse</td>
                                <td>@Data.Departure - @Data.Destination</td>
                                <td>@Data.UserSend</td>

                                @{
                                    if (Data.ThereBack)
                                    {
                                        <td>Да</td>
                                        <td>Да</td>
                                    }

                                    else if (Data.OnlyThere)
                                    {
                                        <td>Да</td>
                                        <td style="color:red;">Нет</td>
                                    }

                                    
                                    else if (Data.OnlyBack)
                                    {
                                        <td style="color:red;">Нет</td>
                                        <td>Да</td>
                                    }
                                }

                                
                                <td>@Data.Count</td>
                                <td>@Data.sugMoney</td>
                                <td>@Data.Message</td>
                                
                                    @{
                                        if (!Data.Viewed)
                                        {
                                            <td>
                                                <form method="post" asp-controller="Responses" asp-action="Deflect">
                                                    <input name="id" value=@Data.idResponse type="hidden"/>
                                                    <input id="submit" type="submit" value="Отклонить" class="btn btn-danger btn-sm">
                                                </form>

                                                <form method="post" asp-controller="Responses" asp-action="Approve">
                                                    <input name="id" value=@Data.idResponse type="hidden"/>
                                                    <input id="submit" type="submit" value="Одобрить" class="btn btn-primary btn-sm">
                                                </form>
                                            </td>
                                        }

                                        else
                                        {
                                            if (Data.Verdict)
                                            {
                                                <td style = "color:green;">Поездка одобрена</td>
                                            }
                                            else
                                            {
                                                <td style = "color:red;">Поездка отклонена</td>
                                            }
                                        }
                                    }
                                

                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
}

else
{
    <div id="error_login">
        <br />
        <h1>❌</h1>
        <h3>Для просмотра своих откликов нужно войти.</h3>

        <a class='btn btn-primary btn-sm' href='/Identity/Account/Register'>Зарегистрироваться</a>
        <a class='btn btn-primary btn-sm' href='/Identity/Account/Login'>Войти</a>
    </div>
}
