﻿@{
    ViewData["Title"] = "Ошибка";
}

<div id="exc">
    <br />
    <h2>⛔</h2>
    <h3>Произошла непредвиденная ошибка</h3>
    <p>Кажется, что-то поломалось. Попробуйте чуть попозже.</p>
</div>