﻿@{
    ViewData["Title"] = "Ошибка";
}

<div id="e403">
    <br />
    <h2>⛔</h2>
    <h3>Недостаточно прав для редактирования</h3>
    <p>Это предложение может редактировать только владелец предложения.</p>
    <p>Убедитесь, что Вы авторизованы под нужным аккаунтом и пытаетесь отредактировать своё предложение.</p>
    <p>Если всё совпадает - обратитесь в поддержку.</p>
</div>