﻿@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Двухфакторная авторизация (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>Двухфакторная авторизация</h3>
<h5>Двухфакторная авторизация временно недоступна :(</h5>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
