﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтверждение смены пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    На Ваш адрес электронной почты было направлено письмо. Следуйте инструкциям в письме для восстановления доступа к аккаунту.
</p>
