﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Пароль сброшен";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль сменён. <a asp-page="./Login">Нажмите здесь</a> для входа в аккаунт.
</p>
